.game_play_panel_blk {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #0000FF;
    width: 880px;
    height: 560px;

    .game_play_now_loading_blk {
        position: absolute;
        width: 880px;
        height: 560px;
        cursor: wait;
    }
}