.mypage_panel_blk {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #0000FF;
    width: 920px;
    height: 560px;

    .now_loading_blk {
        position: absolute;
        width: 920px;
        height: 560px;
    }

    .account_info_table_blk {
        position: absolute;
        bottom: 4px;
        left: 0px;
        right: 0px;
        margin: auto;
        border: 1px solid #00FF00;
        width: 880px;
        height: 520px;
        
        .account_id_blk {
            position: absolute;
            margin: auto;
        }
    }
}