.mypage_panel_title_blk
    p マイページ
table.account_info_table
    tbody
        tr
            th 
                p ユーザ名：
            td
                p#account_id_text
img#load_account_info_executing_img.load_account_info_executing_img(src="/thumbs.jpg")