.control_panel_blk {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #FF00FF;
    width: 960px;
    height: 640px;

    .logout_btn_blk {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: auto;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    
    .game_btn_blk {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-left: auto;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
    
    .activate_panel_executing_img {
        position: absolute;
        opacity: 0.5;
        width: 960px;
        height: 640px;
        display: none;
        z-index: 1;
        cursor: wait;
    }
}