.login_panel_blk {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    width: 800px;
    height: 500px;
    margin: auto;
    border: 1px solid #FF0000;

    .login_btn_blk {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 300px;
        height: 300px;
    }

    .login_id_input_blk {
        position: absolute;
        top: 400px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 300px;
        height: 20px;
    }
    
    .password_input_blk {
        position: absolute;
        top: 500px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 300px;
        height: 20px;
    }
}