form
    input#login_id_input.login_id_input_blk(type='text', maxlength='32')
    input#password_input.password_input_blk(type='text', maxlength='32')
    img#login_btn.login_btn_blk(src="/thumbs.jpg")